@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@main-color: #4EAE47;

///////////login page///////////
.main-container{
  margin: 0;
  width:100%;
}

.main-content{
  position: relative;
}

.main-image{
  background-size: cover;
  width: 100%;
  height: 600px;
  position: absolute;
}

.registration-container{
  width: 40%;
  height: 400px;
  margin-bottom: 5px;
}

.register{
  text-align: center;
  box-shadow: 0em 0em 1em;
  border-radius: 15px;
  // border: 1px black;
  background-color: white;
  width: 30%;
  padding-top: 10px;
  margin-left: 125px;
  margin-top: 70px;
  margin-bottom: 5px;
  position:absolute;

  h1{
    color: @main-color;
  }
}


.logo {
  right: 50px;
  width:50%;
  margin-top: 40px;
  margin-right: 100px;
  position: absolute;
}

.button, .btn.btn-primary, .button-border-action {
  color:@main-color;
  margin: 5px;
}

.success-images {
  border-radius: 50%;
  margin: 20px;
}

.third-container {

  .success-images{
    float: left;
    box-shadow: 0em 0em 1em;
  }
  h3{
    float: right;
    font-family: 'Droid Sans Mono' ;
    color: @main-color;
  }
}

.fourth-container {

  .success-images{
    float: right;
    box-shadow: 0em 0em 1em;
  }
  h3{
    float: left;
    font-family: 'Droid Sans Mono' ;
    color: @main-color;
    font-size: 40px;
  }
}

.bottom-container {
  width: 100%;
  height:200px;
}


/////////profile new page///////////////


body{
  background-image: url('/img/diamonds.png');
}

.page-header, .panel-heading, .panel-body {
  text-align: center;

  h1 {
    color: @main-color;
  }
}

.panel.panel-default {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  box-shadow: 0em 0em 1em;
  border-radius: 15px;
}

.profile-wrapper, .messages-wrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
}

.profile-pic {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  background-size: cover;;
  background-repeat: no-repeat;
  position: relative;
  top: -100px;
  // left: -50px;
}

.about-me {
  font-family: 'Petit Formal Script', cursive;
  margin-top: 10px;
  padding: 10px;
  width: 625px;
  border: 1px solid black;
  border-radius: 15px;
  // position: relative;
  // top: -750px;
  // left: 400px;
}

.info {
  border: 1px solid black;
  width: 250px;
  position: relative;
  // left: -50px;
  top: -100px;
    ul{
    // list-style-position: inside;
    list-style-type: none;
  }
}
//
.interact {
  .btn{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    ul {
    list-style-type: none;
      }
  position: relative;
  top: 50px;
  // left: 800px;
  display: inline-block;
  // border: 1px solid black;
}

.profile-bar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  // margin: 0 auto;
  width: 90%;
  height: 200px;

  border: 1px solid black;
  background-image: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  text-align: center;

  h1 {
    line-height: 200px;
    color: white;
  }
}

.interact, .info {

    ul{
    list-style-position: inside;
    }
}


.second-container{
  position: relative;
}

.button{
  color: @main-color;
  margin:5px;
}

//////////////////////About Page///////////////////////////////////////

.about-content{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

///////////////////Profile Page////////////////////////////

#carousel-example-generic {
  // position: relative;
  // top:-765px;
  // left: 425px;
  margin-top: 20px;
  height: 300px;
  width: 400px;

  .item{
    background-size:cover;
    height: 300px;
    width: 400px;
    }

}

.panel.panel-default#newProfile{
  margin-top: 50px;
  width: 50%;

  .input-group{
    margin-left:auto;
    margin-right:auto;
  }
}

#newProfile {
  margin-top: 20px;
  .input-group {
    margin: 0 auto;
    width: 60%;
    input, select{
      display: inline-block;
    }

  }
}

a.button-border-action{
  margin: 20px;
}

///////////////login page///////////////////////////////
.login-content{
  width: 35%;
  margin-left: auto;
  margin-right: auto;

  h1{
    text-align: center;
    font-family: 'Droid Sans Mono' ;

  }

}

#member-login-form{
 text-align:center;

  input[type='password'], input[type='email']{
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    border:none;
    border-bottom: 3px solid @main-color;

  }
}


#inbox {
  button {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

////////////edit page////////////////////////////////
.panel.panel-default#editProfile{
  margin-top: 50px;
  width: 50%;

  .input-group{
    margin-left:auto;
    margin-right:auto;
  }
}

/////////////messages.index page///////

.panel.panel-default#messages{
    margin:20px;
    margin-left:auto;
    margin-right:auto;
}

button.btn.btn-warning#messages{
    webkit-appearance:none;
    display:inline-block;
    width: 220px;
    margin: 5px;
    border:3px solid @main-color;
    padding:10px 0px;
    background-color:#fbfbfb;
    color:@main-color;
}

#searchPageWrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px solid grey;
  border-radius: 15px;
  background: white;
  box-shadow: 10px 10px 5px #888888;
}

#searchFilters {
  text-align: center;
}

.thumbnail-container {
  display: inline-block;
}

.thumbnail {
  display: inline-block;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid black;
  h3 {
    margin-top: 0px;
  }
}

.thumbnailPhoto {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 15px;
  margin: 5px;
  border: 1px solid black;
}

#searchResults {
  padding: 20px;
}

#mailBar {
  background: rgba(255, 255, 255, 0.5);
}
