extends ../shared/template

block content

  .login-containeer
    .login-content
      img(src='/img/loveHUB.png')
      h1 Member Login

    .member-login
      form#member-login-form(action='/login', method='post')
        input(type='email', name='email', placeholder='Email Address')
        input(type='password', name='password', placeholder='Password')
        button.button#login Login

block scripts
