doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')

  body
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.glyphicon.glyphicon-heart(href='/') LoveHub

          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                //- a.glyphicon.glyphicon-user(href='/users/#{user._id}') profile
                a.glyphicon.glyphicon-user(href='/users') profile
              li
                a.glyphicon.glyphicon-envelope(href='/messages')
              li
                a.glyphicon(href='/chat') chat

            form.navbar-form.navbar-left(role='search')
              .form-group
                input.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='submit') Submit
            ul.nav.navbar-nav.navbar-right
              li
                a.glyphicon.glyphicon-log-in(href='/login') Login
              li
                a.glyphicon.glyphicon-log-out(href='/logout') Logout
    block content



    block scripts
      script(src='/js/vendor/jquery-2.1.1.js')
      script(src='/js/vendor/lodash-2.4.1.js')
      script(src='/js/vendor/moment-2.6.0.js')
      script(src='/js/vendor/buttons.js')
      script(src='/js/vendor/traceur.js')
      script(src='/socket.io/socket.io.js')
      script(src='/js/es5/main.js')
      script(src='/js/es6/compiled/main.js')
      script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
      script(src='/js/es6/compiled/sockets.js')
