extends ../shared/template

block content
  .about-containeer
    .about-content
      img(src='/img/loveHUB.png')
      h4 About

      h1 Eliminate social barriers
      p LoveHub's vision is to eliminate the barriers involved in making new connections and strengthening existing ones. We believe in fun and familiar experiences that are designed to emulate and advance real world interactions.

      h1 What is LoveHub
      p What is LoveHub? LoveHub is the fun way to connect with new and interesting people around you. Chat with a match or snap a photo to share a Moment with all of your matches at once. It’s a new way to express yourself and share with friends.
