extends ../shared/template

block content
  .main-container
    .main-content
      img.main-image(src='/img/whiteBG.jpg')
      img.logo(src='/img/loveHUBgreen.png')

      .registration-container
        .registration
          .register
            h1 Become A Member
            a.button#register(href='/users/new') Register Today!

  .second-container

    .panel.panel-default
      .panel-heading
        h2.panel-title Develop your Love Life
      .panel-body
        p Finally, a dating site for developers and the people who love them. Startup a new relationship today.

  .third-container
    img.success-images(src='/img/couple1.jpg')
    //- h3 Join the thousands of developers who broke the code and found love

  .fourth-container
    h3 No more lonely nights coding
    img.success-images(src='/img/couple2.jpg')

  .bottom-container

  h1.glyphicon.glyphicon-heart LoveHub
  h2.text-muted front-end seeking back-end

block scripts
