extends ../shared/template

block content
  .page-header
    h1.glyphicon.glyphicon-heart LoveHub
    h2.text-muted front-end seeking back-end
  .panel.panel-default
    .panel-heading
      h2.panel-title Develop your Love Life
    .panel-body
      p Finally, a dating site for developers and the people who love them. Startup a new relationship today.
