extends ../shared/template

block content
  .main-container
    .main-content
      img.main-image(src='/img/whiteBG.jpg')
      img.logo(src='/img/loveHUBgreen.png')

      .registration-container
        .registration
          .register
            h1 Become A Member
            a.btn.btn-primary#register(href='/users/new') Register Today!



  .second-container

    .panel.panel-default
      .panel-heading
        h2.panel-title Develop your Love Life
      .panel-body
        p Finally, a dating site for developers and the people who love them. Startup a new relationship today.

    //- .page-header
      //- h1.glyphicon.glyphicon-heart LoveHub
      //- h2.text-muted front-end seeking back-end


block scripts
