extends ../shared/template

block content
  .page-header
    h1 Time to Flirt!
      small live chat with those on your flirt list
  .row
    .col-md-2
      .well
        h3 Flirts Online
    .col-md-10

block scripts
  script(src='/js/es6/compiled/chat.js')
