extends ../shared/template

block content
  .profile-wrapper
    .page-header
      h1 Will Daly
      .profile-pic(style='background-image: url("img/profile-primary/will.jpg");')
      //- .secondary-pic(style='background-image: url("img/profile-secondary/will.JPG");')
      //- .secondary-pic(style='background-image: url("img/profile-secondary/will2.JPG");')
      .interact
        ul
          li
            a(href='http://www.github.com/willdaly') github profile
          li
            a.glyphicon.glyphicon-envelope(href='/mail') send will a message
          li
            a(href='/chat') chat with will
      .info
        ul
          li
            h3 seeking
            p non-developer female
          li
            h3 location
            p nashville
          li
            h3 profession
            p front-end developer
          li
            h3 age
            p 28
      .about-me
        h3 About Will
        p i enjoy long walks on the beach, romantic music, fine wine, jacuzzis, matching sweaters in fall weather.
