extends ../shared/template

block content
  h1 New Profile
    .profile-create-container
      form(action='/profile', method='post', enctype='multipart/form-data')
        input(type='text', name='name', required, placeholder='Name', value='#{user.name}')
        input(type='text', name='location', required, placeholder='City or Zip Code')
        input(type='text', name='age', required, placeholder='Age')
        input(type='text', name='git', required, placeholder='Git Profile Url')
        select(name='Profession')
          option Front End Developer
        select(name='Seeking')
          option Back End Developer
        textarea(name='description', placeholder='Description')
        input(type='file', name='photos', required, multiple=true)
        button#profile-save Save Profile
